body {
    color: #434455;
    background-color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0 ;

}
 img {
    display: block;
    max-width: 100%;
    
 }
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    
}

 
header {
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation .header-logo {
margin-right: 76px;
}

.header-list,
.header-nav
 {
    display: flex;
    gap: 40px;
}




.header-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
  color:#4d5ae5 ;  
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 text-decoration: none;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 
 margin-right: 76px;
}

.header-logo .accent {
color: #2e2f42;
}

.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42; 
    font-weight: 500;
    line-height: 1.5 ;
    text-decoration: none;
    letter-spacing: 0.02em;
    
}

.header-link last-child {
    margin-right: 0;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.header-nav {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5; 
    font-style: normal;
    letter-spacing: 0.02em;
   
}

.contact-link {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    
}

.contact-link:hover {
    color: #404bbf;
}

.contact-link:focus{
    color: #404bbf;
}

.header-nav:hover {
color: #404BBF; 
}


.header-nav:focus{

    color: #404bbf;
}


/* main */

.main-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;

}

.main-section {
    background: #2E2F42;
    padding: 188px 0;
}


.hero-container {
    background: #2E2F42;
    
    text-align: center
}

.button {
    background: #4D5AE5;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    
}

.button:hover {
background:  #404BBF;
}

.button:focus {
    background: #404BBF;
}


.bnf-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}



.bnf-text {
 color:  #434455;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
   
}

.features-item {
    width: 264px;
}

.section-img {
    background-color: #F4F4FD;
   
}

.title-img {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.card-img {
    display: flex;
    gap: 24px;
}


.card-img .card {
 text-align: center;
 background-color: #ffffff;
 border-radius: 0px 0px 4px 4px;
 background: var(--WHITE, #fff);
 box-shadow: 0px 2px 1px 0px rgba (46, 47, 66, 0.08),
            0px 1px 1px 0px rgba (46, 47, 66, 0.16),
            0px 1px 6px 0px rgba (46, 47, 66, 0.08);
 gap: 32px;
    width: calc((100% - 72px) / 4);
}

.card {
    background-color: #FFFFFF;
    
}

.title-job {
    color: #2E2F42;
    
    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    
}

.card-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
     margin-bottom: 8px;
}

.team-job {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
   
   text-align: center;
    margin-bottom: 0;
}

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list .item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list .card-text {
    
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px
}

.person-job {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.job-container {
    padding: 32px 0 ;

}

/* footer */
.info {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-logo {
    
        color: #4d5ae5;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}
        


.footer-logo .accent {
    color: #F4F4FD;
    
}

.footer {
    background:  #2E2F42;
    padding: 100px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}